<div class = "playerTop">
   <div class = "profilePic"> 
        <img src = ".\assets\emptyProfilePic.png" style="height: 150px; width: 130px;position:absolute; left:20px; top:20px;">
   </div>
   <div class = "playerBottom">
   </div>
</div>
<body>
    <div class = "playerStat">
        <div class = "sectionDropdown">
            <P style = "position: relative;top:17px;">GO TO SECTION</P>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <P>test</P>
                    <P>test</P>
                    <P>test</P>
                </div>
              </div>
        </div>
        <tr>
            <div class="editMode">
                <P>Enter Edit Mode</P>
            </div>
            <div class="updateButton">
                <P style="color: blue;">Request to update player facts</P>
            </div>
        </tr>
        <tr>
            <div class="playerFacts">
                <P>Player Facts</P>
            </div>
        </tr>
        <tr>
            <div class="fact1">
                <div class = "front">
                    <p>test</p>
                </div>
                <div class = "end">
                    <p>test2</p>
                </div>
            </div>
            <div class="fact2">
                <div class = "front">
                    <p>test</p>
                </div>
                <div class = "end">
                    <p>test3</p>
                </div>
            </div>
            <div class="fact1">
                <div class = "front">
                    <p>test</p>
                </div>
                <div class = "end">
                    <p>test2</p>
                </div>
            </div>
            <div class="fact2">
                <div class = "front">
                    <p>test</p>
                </div>
                <div class = "end">
                    <p>test2</p>
                </div>
            </div>
        </tr>
    </div>
</body>
