.playerTop{
    position: relative;
    top: -120px;
    height: 200px;
    background-color:#05364c;
}
.profilePic{
    position: relative;
    top: 20px;
    left: 20px; 
    background-color:  rgba(255, 255, 255, 0.63);
    width: 170px;
    height:200px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}
.playerBottom{
    position: relative;
    top:-147px;
    height: 50px;
    border: 1px solid black;
    margin-top: 0px;
}
.sectionDropdown{
    position: relative;
    top: 5px;
    background-color: #e4e7ef;
    height: 50px;
}
.playerFacts1{
    position: absolute;
    left: 400px;
    background-color:  #f7f9fc;
    height: 200px;
    width: 800px;
}
.dropbtn {
    position: relative;
    top:15px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 10px;
    text-align: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    left: 695px;
    top:-40px;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 800px;
    right:0px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .editMode{
    background-color: white;
    border: .5px solid black;
    width: 360px;
    position: relative;
    left:0px;
    top:40px;
    height: 60px;
    text-align: center;
  }
  .updateButton{
    position: relative;
    left:440px;
    background-color: white;
    border: .5px solid black;
    width: 360px;
    top:-20px;
    height: 60px;
    text-align: center;
  }
  .playerFacts{
    position: relative;
    left: 0px;
    background-color: white;
    border: 1px solid rgb(15, 15, 15);
    width: 800px;
  }
  .fact1{
    position: relative;
    top:-1px;
    left: 0px;
    width: 400px;
    background-color: white;
    margin: 0px;
    height: 50px;
  }
  .fact1 p{
    position: relative;
    top: 0px;
    margin-top: 0px;
    height: fit-content;
    text-align: middle;
  }
  .fact1 .front{
    border:1px solid grey;
    padding-top: 15px;
    padding-left: 10px;
  }
  .fact1 .end{
    position: relative;
    top: -34px;
    text-align: right;
    padding-right: 10px;
  }
  .fact2{
    position: relative;
    left: 400px;
    top:-51px;
    width: 400px;
    background-color: white;
    margin: 0px;
    height: 0px;
  }
  .fact2 p{
    position: relative;
    top: 0px;
    margin-top: 0px;
    height: fit-content;
    text-align: middle;
  }
  .fact2 .front{
    border:1px solid grey;
    padding-top: 15px;
    padding-left: 10px;
  }
  .fact2 .end{
    position: relative;
    top: -34px;
    text-align: right;
    padding-right: 10px;
  }
  .playerText{
    position: relative;
    color: white;
    top: -140px;
    left: 200px;
    width: fit-content;
  }
  .playerText p{
    padding: 10px;
    font-size: 20px;
  }
  .playerTeams{
    position: absolute;
    top: 1300px;
    left: 400px;
    width: 800px;
  }
  .playerTeams .default{
    background-color: #05364c;
    width: 250px;
    height: 50px;
    margin-right: 20px;
  }
  .playerTeams .perGameAverage{
    background-color: #05364c;
    width: 250px;
    margin-right: 20px;
    height: 50px;
  }
  .playerTeams .coachesPlayedFor{
    background-color: #05364c;
    width: 250px;
    height: 50px;
  }
  .statsTable table{
    position: relative;
    top:90px;
    left: 3px;
    background-color: red;
    width: 800px;
    color: blue;
    text-align: left;
    font-size: 10px;
    text-align: center;
  }
  .statsTable table th{
    width: 49px;
    height: 40px;
  }
  .change{
    position: relative;
    top:-40px;
    left: 3px;
    background-color: #05364c;
    height: 60px;
    width: 798px;
    color: white;
  }
  .playerTeams table th .perGameAverage{
    color: white;
    background-color: #9db2bb;
    border-radius: 8px;
  }
  .playerTeams table th .default{
    color: white;
    background-color: #9db2bb;
    border-radius: 8px;
  }
  .playerTeams table th .coachesPlayedFor{
    color: white;
    background-color: #9db2bb;
    border-radius: 8px;
  }
  .change .changeDrop1{
    position: relative;
    top:10px;
    left: 20px;
    width: 350px;
    background-color: white;
    color: black;
    height: 30px;
  }
  .change .changeDrop2{
    position: relative;
    top: -20px;
    left: 400px;
    width: 350px;
    background-color: white;
    color: black;
    height: 30px;
  }
