.playerTop{
    position: relative;
    top: -120px;
    height: 200px;
    background-color:#05364c;
}
.profilePic{
    position: relative;
    top: 20px;
    left: 20px; 
    background-color:  rgba(255, 255, 255, 0.63);
    width: 170px;
    height:200px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}
.playerBottom{
    position: relative;
    top:-2px;
    background-color: rgb(252, 252, 253);
    height: 50px;
    border: 1px solid black;
    margin-top: 0px;
}
