.column {
    position: relative;
    top: -15px;
    float: left;
    width: 100px;
    padding: 10px;
    padding-right: 40px;
    height: 5px;
    font-size: 10px;
  }
  .row:after {
    display: table;
    clear: both;
  }
  .container{
    width: fit-content;
  }