<div class = "nationsContainer">
    <H1>Nations</H1>
        <div class ="column">
            <p>Australia</p>  
            <p>Austria</p>
            <p>Belarus</p>
            <p>Belgium</p>
            <p>Bosnia</p>
            <p>Bulgaria</p>
            <p>Canada</p>
            <p>China</p>
            <p>Chineese Taipei</p>
            <p>Croatia</p>  
            <p>Czechia</p>
            <p>Denmark</p>
        </div>
        <div class ="column">
            <p>England</p>  
            <p>Estonia</p>
            <p>Finland</p>
            <p>France</p>
            <p>Georgia</p>
            <p>Germany</p>
            <p>Greece</p>
            <p>Gong Kong</p>
            <p>Hungary</p>
            <p>Iceland</p>  
            <p>India</p>
            <p>Ireland</p>
        </div>
        <div class ="column">
            <p>Israel</p>  
            <p>Italy</p>
            <p>Japan</p>
            <p>Kazakhstan</p>
            <p>Kuwait</p>
            <p>Latvia</p>
            <p>Lithuania</p>
            <p>Luxemborg</p>
            <p>Mexico</p>
            <p>Mongolia</p>  
            <p>Netherlands</p>
            <p>New Zealand</p>
        </div>
        <div class ="column">
            <p>North Korea</p>  
            <p>Northen Ireland</p>
            <p>Norway</p>
            <p>Poland</p>
            <p>Romania</p>
            <p>Russia</p>
            <p>Scottland</p>
            <p>Serbia</p>
            <p>Slovakia</p>
            <p>Slovenia</p>  
            <p>South Africa</p>
            <p>South Korea</p>
        </div> <div class ="column">
            <p>Spain</p>  
            <p>Sweden</p>
            <p>Switzerland</p>
            <p>Thailand</p>
            <p>Turkey</p>
            <p>U.K.</p>
            <p>UAE</p>
            <p>Ukraine</p>
            <p>USA</p>
            <p>Wales</p>  
        </div>
</div>
<router-outlet></router-outlet>