
<body>
<div class = "container">
    <input id ="ch" type = "checkbox">
    <h1>About EP Player Tracker</h1>
    <p>The player tracker is a powerful tool that provides daily updates on your favorite players. 
        Each game a player competes in is included with information about personal stats in the game, as well as opponent and score. 
        A player game log is added roughly 1-2 hours after a game has ended. 
        Default view shows your bookmarked players.</p>
    <div class = "content">
        <p>We currently offer player tracker coverage for players competing in:
            North America Pro: NHL, AHL, ECHL, SPHL, PHF (W), FPHL<br>
            North America Jr: OHL, NCAA, WHL, QMJHL, BCHL, AJHL, USHL, NAHL, MJHL, EHL, SJHL, MJAHL, USPHL Premier, NOJHL, USports, NCAA (W), AEHL U18, KIJHL,<br>
            PIJHL, SIJHL, GOJHL, VIJHL, ETAHL U18, CSSHL U18, M-Cup, HEO U18, NCDC, EP Invitational, CCHL, NA3HL<br>
            Europe Pro: AlpsHL, ICEHL, Czechia, Czechia2, Denmark, Liiga, Mestis, Ligue Magnus, DEL, Germany3, DFEL (W), Norway, KHL, VHL, Slovakia, Slovakia2, SHL,<br>
            HockeyAllsvenskan, HockeyEttan, SDHL (W), NL, SL, MyHL, EIHL, UHSL<br>
            Europe Jr: Bulgaria, Czechia U17, Czechia U20, II-divisioona, U20 SM-sarja, U18 SM-sarja, U18 Mestis, Mestis (W), Naisten Liiga (W), DNL U20, Germany U17, Norway (W), MHL, Slovakia U20, Slovakia U18, J20 Nationell, J18 Nationell, J18 Region, U20-Elit, U20-Top, U17-Elit, SWHL A (W), SWHL B (W), Spengler Cup</p>
    </div>
    <label for = "ch">Read more</label>
</div>
<div class = "container2">
    <ul>
        <li>
            <a href="#">Choose League ↓</a>
            <ul class = "dropdown">
                <li>Listen</li><br>
                <li>Listen</li><br>
                <li>Listen</li><br>
            </ul>
        </li>
    </ul>
</div>
</body>
<router-outlet></router-outlet>
