<div class="signInContainer">
    <h1>Sign in to your Account</h1>
    <div class="topContainer">
        <h2>Sign In</h2>
        <p>Sign in using one of the following</p>
        <table>
            <tr>
                <div class="box1" style="position:absolute;left:350px;">
                    <img src = ".\assets\SignIn.png">
                </div>
                <div class="box2" style="position:absolute;left:456s-px;">
                    <img src = ".\assets\SignIn.png">
                </div>
                <div class="box3">
                    <img src = ".\assets\SignIn.png" style = "position:relative;left: 550px;">
                </div>
            </tr>
        </table>
    </div>
</div>
<router-outlet></router-outlet>