<p>pittsburgh-penguins works!</p>
<div class="teamLayout">
    <table>
      <div class="teamLayoutTop">
        <tr>
            <th>#</th>
            <th>PLAYER</th>
            <th>A</th>
            <th>BORN</th>
            <th>BIRTHPLACE</th>
            <th>HT</th>
            <th>WT</th>
            <th>S</th>
            <th>CTRCT</th>
            <th>CAP HIT</th>
        </tr>
      </div>
       <tr>
            <div class="goalies">
                <H1>Goalies</H1>
                <th>#</th>
            <th>PLAYER</th>
            <th>A</th>
            <th>BORN</th>
            <th>BIRTHPLACE</th>
            <th>HT</th>
            <th>WT</th>
            <th>S</th>
            <th>CTRCT</th>
            <th>CAP HIT</th>
            </div>
       </tr>
       <tr>
            <div class="defenseman">
                <H1>Defenseman</H1>
            </div>
       </tr>
       <tr>
            <div class="forwards">
                <H1>Forwards</H1>
            </div>
       </tr>
    </table>
</div>