<div class = "NorthAmerica">
    <H1><P>North America - Mens Hockey</P></H1>
    <div class = "NorthAmericanSections">
        <div class = "column">
            <p>SENIOR/COLLEGE</p>
        </div>
        <div class = "column">
            <p style="padding-left: 10px;">USA</p>
        </div>
        <div class = "column">
            <p>CANADA WEST</p>
        </div>
        <div class = "column">
            <p>CANDA ONT</p>
        </div>
        <div class = "column">
            <p>CANADA</p>
        </div>
    </div>
    <div class = "NorthAmericanTeams">
        <div class = "column">
            <P>Professional</P>
            <div class = "teams">
                <p>NHL</p>    
                <p>AHL</p>  
                <p>ECHL</p>  
                <p>SPHL</p>  
                <p>LNAH</p>  
                <p>FPHL</p>  
            </div>
            <P>Semi-Pro</P>
            <div class = "teams">
                <P>ACH</P>
                <P>Chinook HL</P>
                <P>WOAA</P>
            </div>
            <P>College</P>
            <div class = "teams">
                <P>NCAA</P>
                <P>NCA III</P>
                <P>ACHA</P>
                <P>NCAA</P>
                <P>NCA III</P>
                <P>ACHA</P>
                <P>ACHA II</P>
                <P>ACHA III</P>
                <P>CHF</P>
                <P>BCIHL</P>
                <P>USports</P>
                <P>ACAC</P>
                <P>QCHL</P>
            </div>
            <P>Amatuer</P>
            <div class = "teams">
                <P>BSHL</P>
                <P>CarillonSHL</P>
                <P>CIHL</P>
                <P>CRL</P>
                <P>EASTSCHL</P>
                <P>ECSHL</P>
                <P>EOSHL</P>
                <P>GLHL</P>
                <P>HHL</P>
                <P>LHSAAAQ</P>
                <P>LHSAO</P>
                <P>LHSLF</P>
                <P>LHSR</P>
                <P>LLHL</P>
                <P>LRH</P>
                <P>MIHL</P>
                <P>MWHL</P>
                <P>NCHL-AB</P>
                <P>NCHL-MB</P>
                <P>NorthPHL</P>
                <P>NoteHl</P>
                <P>QVHHL</P>
                <P>RHL</P>
                <P>SASHL</P>
                <P>SaskEHL</P>
                <P>SaskPHL</P>
                <P>SEMHL</P>
                <P>SVHL</P>
                <P>SSHL-Sr.</P>
                <P>SWHL</P>
                <P>THHL</P>
                <P>THL</P>
                <P>TRHL</P>
                <P>WheatlandSHL</P>
                <P>WMHL</P>
                <P>WOSHL</P>
            </div>
        </div>
        <div class = "column" style="padding-left: 10px;">
            <P>Elite prospects</P>
            <div class = "teams">
                <P>EP Invitational</P>
                <P>EP Cup Series 14U</P>
                <P>EP Cup Series 15O</P>
                <P>EP Cup Series 16U</P>
                <P>EP Cup Series 18U</P>
            </div>
            <P>Jr. US Tier I</P>
            <div class = "teams">
                <P>USHL</P>
            </div>
            <P>Jr. US Tier II</P>
            <div class = "teams">
                <P>NAHL</P>
                <P>NCDC</P>
            </div>
            <P>Jr. US Tier III</P>
            <div class = "teams">
                <P>EHL</P>
                <P>EHLP</P>
                <P>NA3HL</P>
                <P>USPHL PREMIER</P>
                <P>USPHL ELITE</P>
            </div>
            <P>18 U</P>
            <div class = "teams">
                <P>AYHL 18U</P>
                <P>BEAST 18U</P>
                <P>CSDHL 18U</P>
                <P>ECEL 18U</P>
                <P>EJEPL 18U</P>
                <P>HPHL 18U</P>
                <P>HPHL 18U</P>
                <P>MNHP 18U</P>
                <P>NAPHL 18U</P>
                <P>NJPHL 18U</P>
                <P>T1EHL 18U</P>
                <P>THF 18U</P>
            </div>
            <P>16 U</P>
            <div class = "teams">
                <P>AYHL 16U</P>
                <P>BEAST 16U</P>
                <P>CSDHL 16U</P>
                <P>ECEL 16U</P>
                <P>EJEPL 16U</P>
                <P>HPHL 16U</P>
                <P>MNGL 16U</P>
                <P>NAPHL 16U</P>
                <P>NJPHL 16U</P>
                <P>T1EHL 16U</P>
                <P>THF 16U</P>
            </div>
            <P>15U/15O</P>
            <div class = "teams">
                <P>AYHL 15U</P>
                <P>BEAST 15U</P>
                <P>CSDHL 15U</P>
                <P>HPHL 15U</P>
                <P>MNHP 15U</P>
                <P>NAPHL 15U</P>
                <P>T1EHL 15U</P>
                <P>THF 15U</P>
            </div>
            <P>14U</P>
            <div class = "teams">
                <P>AYHL 14U</P>
                <P>BEAST 14U</P>
                <P>HPHL 14U</P>
                <P>MNBEL 14U</P>
                <P>MNHP 14U</P>
                <P>T1EHL 14U</P>
                <P>THF 14U</P>
            </div>
            <P>PREP & HS</P>
            <div class = "teams">
                <P>USDP</P>
                <P>USHS-Prep</P>
                <P>USHS-MN</P>
                <P>USHS-MI</P>
                <P>USHS-NY</P>
                <P>USHS-MA</P>
                <P>MPHL</P>
            </div>
        </div>
        <div class = "column">
            <P>CHL</P>
                <div class = "teams">
                    <P>WHL</P>
                </div>
            <P>Jr. A</P>
                <div class = "teams">
                    <P>AJHL</P>
                    <P>BCHL</P>
                    <P>MJHL</P>
                    <P>SIJHL</P>
                    <P>SJHL</P>
                </div>
            <P>Jr. B</P>
                <div class = "teams">
                <P>CapJhl</P>
                <P>HJHL</P>
                <P>KJHL</P>
                <P>KIJHL</P>
                <P>NEAJBGL</P>
                <P>NWJHL</P>
                <P>PJHL</P>
                <P>PIJHL</P>
                <P>VIJHL</P>
                </div>
            <P>Jr. C</P>
                <div class = "teams">
                    <P>CalJCHL</P>
                    <P>HTJHL</P>
                    <P>NorJHL</P>
                    <P>QVHJL</P>
                </div>
            <P>U16/18U</P>
                <div class = "teams">
                    <P>AHEL U18</P>
                    <P>AEHL U17</P>
                    <P>BCEHL U18</P>
                    <P>BCEHL U17</P>
                    <P>CSCHL U18</P>
                    <P>CSCHL U17</P>
                    <P>CSCHL U16</P>
                    <P>MU18HL</P>
                    <P>HSL U18</P>
                    <P>JPHL U18</P>
                    <P>NAHL U18</P>
                    <P>SAAHL U18</P>
                    <P>SMAAAHL</P>
                    <P>WAAA U17</P>
                </div>
            <P>U14/15U</P>
                <div class = "teams">
                    <P>AEHL  U15</P>
                    <P>BVEHL U15</P>
                    <P>CSSHL U15</P>
                    <P>CSSHLV U15</P>
                    <P>HSL U14</P>
                    <P>HSL U15</P>
                    <P>JPHL U15</P>
                    <P>NAHL U15</P>
                    <P>PCAHA U15</P>
                    <P>SAAHL U15</P>
                    <P>WAAA U15</P>
                    <P>WAAA U14</P>
                </div>
            <P>Independent</P>
                <div class = "teams">
                    <P>MMJHL</P>
                    <P>CAJHL</P>
                </div>
        </div>
        <div class = "column">
            <P>CHL</P>
                <div class = "teams">
                    <P>OHL</P>
                </div>
            <P>Jr. A</P>
                <div class = "teams">
                    <P>CCHL</P>
                    <P>NOJHL</P>
                    <P>OJHL</P>
                </div>
            <P>Jr. B</P>
                <div class = "teams">
                    <P>EOJHL</P>
                    <P>GOJHL</P>
                    <P>LJHL</P>
                </div>
            <P>Jr. C</P>
                <div class = "teams">
                    <P>NCJHL</P>
                    <P>PJCHL</P>
                </div>
            <P>U18</P>
                <div class = "teams">
                    <P>ALLIANCE U18</P>
                    <P>ETAHL U18</P>
                    <P>GNML</P>
                    <P>HEO U18</P>
                    <P>SCTA U18</P>
                </div>
            <P>U16</P>
                <div class = "teams">
                    <P>ALLIANCE U16</P>
                    <P>ETAL U16</P>
                    <P>GNML</P>
                    <P>GTHL U16</P>
                    <P>SCTA U16</P>
                </div>
            <P>U15</P>
            <div class = "teams">
                <P>ALLIANCE U15</P>
                <P>ETAHL U15</P>
                <P>GTHL U15</P>
                <P>NOHL U15</P>
                <P>HEO U15</P>
                <P>SCTA U15</P>
            </div>
            <P>PREP & HS</P>
                <P>CAHS</P>
                <P>CISAA</P>
            <P>Independent</P>
                <div class = "teams">
                    <P>GMHL</P>
                </div>
        </div>
        <div class = "column">
            <P>CHL</P>
            <div class = "teams">
                <P>QMJHL</P>
            </div>
        <P>Jr. A</P>
            <div class = "teams">
                <P>MJAHL</P>
                <P>QJHL</P>
            </div>
        <P>Jr. B</P>
            <div class = "teams">
                <P>CAJAAHL</P>
                <P>IsJHL</P>
                <P>LHC</P>
                <P>LHJSLSJ</P>
                <P>LHMJAA</P>
                <P>NSJHL</P>
                <P>SJJHL</P>
            </div>
        <P>Jr. C</P>
            <div class = "teams">
                <P>NBJHL</P>
                <P>NSRJHL</P>
                <P>PEIJCL</P>
            </div>
        <P>U17/U18</P>
            <div class = "teams">
                <P>NBPEIMU18HL</P>
                <P>NLMMHL</P>
                <P>NSU18MHL</P>
                <P>PEI U18</P>
                <P>QM18AAA</P>
                <P>QM18AA</P>
                <P>QM17AAA</P>
                <P>RSEQ M18 D1</P>
            </div>
        <P>U15</P>
            <div class = "teams">
                <P>NBU15MHL</P>
                <P>NLAAAHL U15</P>
                <P>NSU15MHL</P>
                <P>PEI U15</P>
                <P>QM15AAA E</P>
                <P>QM15AAA</P>
                <P>RSEQ M15 D1</P>
            </div>
    </div>
    </div> 
</div>
<router-outlet></router-outlet>