.NorthAmerica{
    position: absolute;
    left: 400px;
    width: fit-content;
    height: 0px;
    font-size: 10px;
}
H1{
    width: 502px;
    background-color: #063950;
    color: white;
    margin-bottom: 0px;
    width: 465px;
}
.column{
    position: relative;
    left: 0px;
    text-align: left;
    float: left;    
    width: 90px;
    height: fit-content;
    font-size: 10px;
}
.NorthAmericanSections{
    position: absolute;
    top: 45px;
    background-color: red;
    color: white;
    width: 465px;
}
.NorthAmericanTeams{
    position: absolute;
    top: 80px;
    border: .5px solid black;
    width: fit-content;
    width: 465px;
}
.teams{
     color: rgb(32, 32, 150);
}