<div class = "NorthAmerica">
    <H1><P>North America - Mens Hockey</P></H1>
    <div class = "NorthAmericanSections">
        <div class = "column">
            <p>SENIOR/COLLEGE</p>
        </div>
        <div class = "column">
            <p style="padding-left: 10px;">USA</p>
        </div>
        <div class = "column">
            <p>CANADA WEST</p>
        </div>
        <div class = "column">
            <p>CANDA ONT</p>
        </div>
        <div class = "column">
            <p>CANADA</p>
        </div>
    </div>
    <div class = "NorthAmericanTeams">
        <div class = "column">
            <p>SENIOR/COLLEGE</p>
            <P>Professional</P>
            <div class = "teams">
                <p>NHL</p>    
                <p>AHL</p>  
                <p>ECHL</p>  
                <p>SPHL</p>  
                <p>LNAH</p>  
                <p>FPHL</p>  
            </div>
            <P>Semi-Pro</P>
            <div class = "teams">
                <P>ACH</P>
                <P>Chinook HL</P>
                <P>WOAA</P>
            </div>
            <P>College</P>
            <div class = "teams">
                <P>NCAA</P>
                <P>NCA III</P>
                <P>ACHA</P>
                <P>NCAA</P>
                <P>NCA III</P>
                <P>ACHA</P>
                <P>ACHA II</P>
                <P>ACHA III</P>
                <P>CHF</P>
                <P>BCIHL</P>
                <P>USports</P>
                <P>ACAC</P>
                <P>QCHL</P>
            </div>
            <P>Amatuer</P>
            <div class = "teams">
                <P>BSHL</P>
                <P>CarillonSHL</P>
                <P>CIHL</P>
                <P>CRL</P>
                <P>EASTSCHL</P>
                <P>ECSHL</P>
                <P>EOSHL</P>
                <P>GLHL</P>
                <P>HHL</P>
                <P>LHSAAAQ</P>
                <P>LHSAO</P>
                <P>LHSLF</P>
                <P>LHSR</P>
                <P>LLHL</P>
                <P>LRH</P>
                <P>MIHL</P>
                <P>MWHL</P>
                <P>NCHL-AB</P>
                <P>NCHL-MB</P>
                <P>NorthPHL</P>
                <P>NoteHl</P>
                <P>QVHHL</P>
                <P>RHL</P>
                <P>SASHL</P>
                <P>SaskEHL</P>
                <P>SaskPHL</P>
                <P>SEMHL</P>
                <P>SVHL</P>
                <P>SSHL-Sr.</P>
                <P>SWHL</P>
                <P>THHL</P>
                <P>THL</P>
                <P>TRHL</P>
                <P>WheatlandSHL</P>
                <P>WMHL</P>
                <P>WOSHL</P>
            </div>
        </div>
        <div class = "column">
            <p style="padding-left: 10px;">USA</p>
        </div>
        <div class = "column">
            <p>CANADA WEST</p>
        </div>
        <div class = "column">
            <p>CANDA ONT</p>
        </div>
        <div class = "column">
            <p>CANADA</p>
        </div>
    </div> 
</div>
<router-outlet></router-outlet>