<app-nav-bar></app-nav-bar>
<div class = "sidebar1">
    <div class = "sidebar1top" style="color: white;">Trending Players</div>
    <div *ngFor="let item of sidebar">
        <app-side-bar name = {{item.name}} name2 = {{item.name2}}></app-side-bar>
    </div>
</div>

<div class = "NHLSideBar">
    <div class = "NHLSideBarTop">
        <p style="vertical-align: middle;">NHL TEAMS</p>
        <div *ngFor = "let item2 of nhlSideBar" style="color:blue">
            <app-team-side-bar team1 = {{item2.team1}} team2 = {{item2.team2}}></app-team-side-bar>
        </div>
    </div>
</div>

<div class = "AHLSideBar">
    <div class = "AHLSideBarTop">
        <p style="vertical-align: middle;">AHL TEAMS</p>
        <div *ngFor = "let item3 of ahlSideBar" style="color:blue">
            <app-team-side-bar team1 = {{item3.team1}} team2 = {{item3.team2}}></app-team-side-bar>
        </div>
    </div>
</div>
<div class = "ECHLSideBar">
    <div class = "ECHLSideBarTop">
        <p style="vertical-align: middle;">ECHL TEAMS</p>
       <div *ngFor = "let item4 of echlSideBar" style="color:blue;">
            <app-team-side-bar team1 = {{item4.team1}} team2 = {{item4.team2}}></app-team-side-bar>
        </div>  
    </div>
</div> 
<User-Info></User-Info>
<div class="container2">
    <app-basic-table></app-basic-table>
</div>
<router-outlet></router-outlet>
