<h1>  
    <p>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" >Stats </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Teams </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Leagues </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Nations </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Draft Center </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Drafts </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Premium </a>
        <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Help </a>
    <p>
</h1> 
    <h2> 
        <a routerLink="BookmarksPage"><img src = ".\assets\bookmarks.png"></a>
        <a routerLink="PlayerTrackerPage"><img src = ".\assets\playerTrack.png"></a>
        <a routerLink="ComparePlayers"><img src = ".\assets\comparePlayers.png"></a>
        <a routerLink="BookmarksPage"><img src = ".\assets\agentPortal.png"></a>
        <a routerLink="BookmarksPage"><img src = ".\assets\rankingPortal.png"></a>
        <a routerLink="BookmarksPage"><img src = ".\assets\myRoster.png"></a>
        <a routerLink="BookmarksPage"><img src = ".\assets\contactEp.png"></a>
        <a routerLink="BookmarksPage"><img src = ".\assets\freeAgents.png"></a>
    <h2> 
<h3> 
    <form id = "form"> 
        <input type = "search" id = "query" name = "q" 
        placeholder="Search Teams, Players, Leagues"> 
        <button>Search</button> 
    </form> 
</h3>
<h4>
    <img src = ".\assets\Logo.png" alt = "testing" width="75" height="75" style="left: 7px; position: fixed; left: 8px;">
    <a routerLink="TicketsPage" style="color: white; text-decoration: none ;" >Tickets</a>
    <a routerLink="AwardsPage" style="color: white; text-decoration: none ;" > Awards</a>
    <a routerLink="SignInPage" style="color: white; text-decoration: none ;" > Jobs</a>
    <a routerLink="EPShop" style="color: white; text-decoration: none ;" > EP Shop</a>
    <a routerLink="" style="color: white; text-decoration: none ;" > EP Rinkside</a>
</h4>
<div class = "signIn">
    <a routerLink="SignInPage" > 
        <img src = ".\assets\SignIn.png"  alt = "testing" style="right: 0px;">
    </a>
    <img src = ".\assets\LogIn.png"  alt = "testing" style="right: 0px;">
</div>
<router-outlet></router-outlet>