<div class = "LeagueContainer">
    <H1 style = "background-color: blue;position: relative; top:-22px">Test</H1>
    <div class =  "LeagueTop">
    <H2>
        <div class = "column">
            <P>Northern EU</P> 
        </div>
        <div class = "column">
            <P>Western EU</P>
        </div>
        <div class = "column">
            <P>Eeastern EU</P>
        </div>
        <div class = "column">
            <P>Souther EU</P>
        </div>
        <div class = "column">
            <P>Other</P>
        </div>
    </H2>
    </div>
    <div class = "LeagueTeams">
        <div class = "column">
            <P>Northern EU</P> 
        </div>
        <div class = "column">
            <P>Western EU</P>
        </div>
        <div class = "column">
            <P>Eeastern EU</P>
        </div>
        <div class = "column">
            <P>Souther EU</P>
        </div>
        <div class = "column">
            <P>Other</P>
        </div>
    </div>
</div>