
    <div id="grid-col">
        <div class="cell" style="background-color: white;">{{Date}}</div><div class="cell"style="background-color: white;">{{Player}}</div>
        <div class="cell" style="background-color: white;">{{Team1}}</div><div class="cell"style="background-color: white;">{{Team2}}</div>
        <div class="cell" style="background-color: #cfdbf8">{{Date}}</div><div class="cell"style="background-color: #cfdbf8;">{{Player}}</div>
        <div class="cell" style="background-color: #cfdbf8;">{{Team1}}</div><div class="cell"style="background-color: #cfdbf8;">{{Team2}}</div>
    </div>
    <!--
          <div class = "gridtop">
        Transfer
    </div>
                <div class="cell" style="background-color: red;border-left-color: red; border-right-color: red; color: white;" >DATE</div> 
        <div class="cell" style="background-color: red;border-left-color: red; border-right-color: red;color: white">PLAYER</div>
        <div class="cell" style="background-color: red; border-left-color: red; border-right-color: red;color: white" >FROM</div> 
        <div class="cell" style="background-color: red;border-left-color: red; border-right-color: red;color: white">TO</div>
    -->